.sidebarparent {
    
    background-color:  #0f107f;
    display: flex;
    max-width: 76px;
    flex-direction: column;
    padding: 18px 16px;
    height:100vh;
    /* position: absolute;
    left: 0; */
    
  }
  #profilebtn{
    padding:0px;
  }
  .sidebarparent button {
    background-color: transparent; /* Set the background color of buttons to transparent */
    border: none; /* Remove any border */
    height:min-content; /* Ensure aspect ratio is maintained */
    outline: none;
  }
  .sidebarparent button:hover {
    transition: 20ms;
    transform: scale(1.1);
  }
  .sidebarparent img:active {
    background-color:rgb(68, 111, 149);
  }

  .sidebarparent button img {
    width: 100%; /* Set image width to 100% */
    height: fi; /* Ensure aspect ratio is maintained */
    border-radius: 10px;
    padding: 3px;
  }

  .img {
    aspect-ratio: 1.1;
    object-fit: auto;
    object-position: center;
    width: 100%;
    align-self: center;
    
  }
  .y_iconbtns{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
  }
  .div-2 {
    align-items: center;
    display: flex;
    margin-top: auto;
    flex-direction: column;
    padding: 0px;
    
  }
  .img-2 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  .img-3 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
    margin-top: 28px;
  }
  .img-4 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
    margin-top: 28px;
  }
  .img-5 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
    margin-top: 28px;
  }
  .img-6 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
    margin-top: 28px;
  }
  .div-3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-top: 37vh;
    

  }
  .img-7 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  .img-8 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
    margin-top: 28px;
  }